<div class="w-full md:absolute z-10 hover:z-[11] opacity-0 hover:opacity-100 focus-within:opacity-100 flex space-x-2 justify-center items-center my-3">
  <button class="inline-flex items-center px-2 py-1 rounded-lg font-medium text-sm whitespace-nowrap border bg-base-200 border-base-300 text-base-content/70 hover:bg-base-300 focus:bg-base-300"
          data-action="cells#addMarkdownAfter">
    + Block
  </button>
</div>

